script#selected-row-template(type="text/underscore-template")
	tr(class!='row<%= index %>')
		- for (var i=0; i<3; i++) {
		td.radio
			input(type="radio", name!="item<%= index %>", value="#{i+1}",
			checked= (i==0? 'true' : 'false'))
		td.class-droppable.
			<%= template[#{i}]? template[#{i}] : '' %>
		- }
		td.radio
			input(type="radio", name!="item<%= index %>", value="none")

script#selected-template(type="text/underscore-template")
	div#table-container
		table
			thead
				- for (var i=0; i<3; i++) {
				th(colspan="2") <%= selectedStr.get('option#{i+1}Label') %>
				- }
				th <%= selectedStr.get('noneLabel') %>
			tbody.selected-sortable

	div#info-container
		hr
		a#btnDownload.btn.btn-primary(href="/api/selecionada").
			<%= selectedStr.get('btnDownload') %>
		div#qtd-credits 0 <%= selectedStr.get('qtdCreditsLabel') %>
		div#qtd-classes 0 <%= selectedStr.get('qtdClassesLabel') %>

script#selected-draggable-template(type="text/underscore-template")
	div.class-draggable
		input(type="hidden",name="subjectCode",value!="<%= subjectCode %>")
		input(type="hidden",name="classCode",value!="<%= classId %>")
		input(type="hidden",name="vacancies",value!="<%= vacancies %>")
		input(type="hidden",name="rank",value!="<%= rank %>")
		button.close(type="button") x
		span <%= subjectCode %> - <%= classCode %>
